# Binaries for programs and plugins
*.exe
*.exe~
*.dll
out

# Test binary, built with `go test -c`
*.test

# editor goodies
.idea
.zed
.vscode
.devcontainer

# macos stuff
.DS_Store
*/.DS_Store

# private dir for notes and such
.private/
