username  {{ .Username }} privilege 15 password {{ .Password }}
enable secret 0 {{ .Password }}
interface GigabitEthernet1
ip address 10.0.0.15 255.255.255.0
no shutdown
exit
ip domain name boxen.box
hostname router
crypto key generate rsa modulus 2048
restconf
netconf-yang
line vty 0 4
login local
transport input all